
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipie Carbon Footprint Calculator</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>  
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='src/style.css') }}" title="style"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.js"></script>
</head>
<body>
    <div id="header">
        <h1 class="" id="title"><i class="fa-solid fa-burger"></i>Recipie Carbon Footprint Calculator</h1>
    </div>
    <p>{{input}}</p>
    <div class="container">
        <div class="row">
            <div class="col-7 text-center" id="textbox">
                <form action ="#" method="post">
                    <p><input type="text" name="userinput" /></p>
                    <p><input type="submit" value="submit" /></p>
                </form>
            </div>
            <div class="col-5">
                <h3>Heres some title text {{more_info}}</h3>
                <p>In this section we’ll have some other text to describe instructions or something for our website so the user can better understand the website.</p>
            </div>
        </div>
    </div>
    <br><br>
    <div class="container">
        <h2>Your meal has a carbon footprint of 300 kg CO2</h2>
        <table>
            <tr>
                <td>test1</td>
                <td>test2</td>
                <td>test3</td>
                <td>test4</td>
                <td>test5</td>
                <td>test6</td>
            </tr>
            <tr>
                <td>test7</td>
                <td>test8</td>
                <td>test9</td>
                <td>test10</td>
                <td>test11</td>
                <td>test12</td>
            </tr>
        </table>
    </div>
    <br><br><br><br>
    <script scr="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/15079f496a.js" crossorigin="anonymous"></script>
</body>
</html>
